.custom-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 250px;
  }
  .cardDesc{
    font-size: 0.8rem;
  }
  
  .custom-card .card-body {
    background: linear-gradient(135deg, #282828, #505050);
    color: white;
  }
  
  .custom-card .play-icon {
    bottom: 20px;
    right: 15px;
    color: black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
  }
  
  .custom-card .card-footer {
    background-color: white;
    font-size: 0.8rem;
    border-top: none;
    position: relative;
    bottom: 0;
  }
  
  .custom-card .card-footer div {
    text-align: center;
    font-weight: bold;
  }
  
  .scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .scroll-item {
    min-width: 300px; /* Adjust this value as needed */
    margin-right: 16px;
  }
  
  .scroll-buttons {
    display: flex;
    align-items: center;
  }
  
  .custom-card {
    flex-shrink: 0;
  }
  h2{
    color: white;
  }
  
  