.table thead tr th{
    background-color: #1A1A1A;
    color: white;
    opacity: 0.7;
    font-weight: 400;
}
.table tbody tr:nth-of-type(odd) td{
    background-color: #1A1A1A;
    color: white;
    text-align: left;
    font-weight: 100;
}
  
.table tbody tr:nth-of-type(even) td{
    background-color: #2A2A2A;
    color: white;
    text-align: left;
    font-weight: 100;
}
.table *{
    border: none;
}
/* ProblemList.css */

.table tbody tr td.difficulty-easy {
    color: #05ff3f; /* Light green */
  }
  
  .table tbody tr td.difficulty-medium {
    color: #ffc505; /* Light yellow */
  }
  
  .table tbody tr td.difficulty-hard {
    color: #ff0015; /* Light red */
  }
  